<!DOCTYPE html>
<html>
<head>
    <title>LTI Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <section class="team">
     <div class="container">
          <form>
        <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="">
            </div>

        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="id1">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="id2">
            </div>
            
        </div>
          <div class="card">
            <div class="box">
                <img src="../../assets/image/img6.jpg" alt="team img" />
                <h4>Ford Series</h4>
                <h5>Company: Universal Sompo</h5>
                <h5>Amount: 3000</h5>
                <input type="radio" name="id3">
            </div>
            
        </div>
        <input type="submit" name="submit" class="btn">
        </form>
          
         
     </div>
  </section>

</body>
</html>