<div class="card-container">
<a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="../assets/image/img2.jpg" width="200"><br/>
   

    <h2>Buy Insurance</h2>

       </a>

        <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="../assets/image/img5.jpg" width="200"><br/>
   

    <h2>Renew Insurance</h2>

       </a>
<a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="../assets/image/img3.jpg" width="200"><br/>
   

    <h2>Calculate Insurance</h2>

       </a>
<a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="../assets/image/img1.jpg" width="200"><br/>
   

    <h2>Claim Insurance</h2>

       </a>


   <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="../assets/image/img4.jpg" width="200"><br/>
   

    <h2>Register</h2>

       </a>


</div>
