<h2 style="text-align: center;">Registeration</h2>
<form (ngSubmit) = "register()">
    <b>Name</b><input type="text" placeholder="Enter Name" [(ngModel)]=customer.name name="name"><br/>
    <b>Email Address</b><input type="email" placeholder="Enter Email Address" [(ngModel)]=customer.email name="email"><br/>
    <b>Password</b><input type="password" placeholder="Enter Password" [(ngModel)]=customer.password name="password"><br/>
    <b>Date of Birth</b><input type="date" placeholder="Enter date of birth" [(ngModel)]=customer.dob name="dob"><br />
    <b>Contact No.</b><input type="number" placeholder="Enter contact number" [(ngModel)]=customer.contactNo name="contactNo"><br />
    <b>City</b><input type="text" placeholder="Enter city" [(ngModel)]=customer.city name="city"><br />
    <b>pinocde</b><input type="number" placeholder="Enter pinocde" [(ngModel)]=customer.pincode name="pincode"><br />
    <b>landmark</b><input type="text" placeholder="Enter landmark" [(ngModel)]=customer.landmark name="landmark"><br />
    <button type="submit">Register</button>
  </form>
