<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Register</h1>
            <form (ngSubmit) = "register()">
                <input type="text" id="name" [(ngModel)]=customer.name name="name" placeholder="Your name..">
                <input type="email" id="email" [(ngModel)]=customer.email name="email" placeholder="abc@xyz..">
                <input type="Date" id="dob" [(ngModel)]=customer.dob name="dob" placeholder="DD/MM/YY">
                <input type="number" id="contact" [(ngModel)]=customer.contactNo name="contact" placeholder="Enter your contact no">
                <input type="number" id="pincode" [(ngModel)]=customer.pincode name="pincode" placeholder="Enter your pinocde">
                <input type="text" id="city" [(ngModel)]=customer.city name="city" placeholder="Enter your city">
                <input type="text" id="landmark" [(ngModel)]=customer.landmark name="landmark" placeholder="Enter your landmark">
                <input type="password" id="password" [(ngModel)]=customer.password name="password" placeholder="Enter password">
                <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password">
           
            <input type="submit" name="submit" value="Register">
               
            </form>
        
        
        </div>
    
    </body>
</html>